{% extends "base.html" %}

{% block home %}
Score_Predictor
{% endblock home %}

{% block body %}


<div class="container my-4">
    <center>
            <span class="badge badge-pill badge-info">
                <h1 style="font-family:'Comic Sans MS'"> <b> &nbsp; Enter the required details!!! &nbsp; </b> </h1>
    </center>
</div>



<div class="container my-5">
    <center>


            <form class='form' method="POST" , action='submit_and_process_data'>
                {% csrf_token %}
                

                    <label for="name"><h2 style="color:cyan" ;> Enter your name !!!</h2> </label>
                    <input type="text" name = 'name' class="form-control" >
            
               
            
                    <div class="form-group">

                    <label for="venue">
                        <h2 style="color:cyan" ;> Venue </h2>
                    </label>
                    <select class="form-control" name = 'venue' id="exampleFormControlSelect1">
                        {% for stadium in venues  %}
            
                        <option>{{stadium}}</option>
            
                        {% endfor %}}
            
            
                    </select>
                    </div>

                    


                    <div class="form-group">
                        <label for="Batting Team">
                            <h2 style="color:cyan" ;> Select Batting Team </h2>
                        </label>
                        <select class="form-control" name = 'Batting_Team' id="exampleFormControlSelect1" >
                            {% for batting_team in bat_teams  %}
                    
                            <option>{{batting_team}}</option>
                    
                            {% endfor %}}
                    
                            
                    
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="Bowling Team">
                            <h2 style="color:cyan" ;> Select Bowling Team </h2>
                        </label>
                        <select class="form-control" name = 'Bowling_Team' id="exampleFormControlSelect1" >
                            {% for bowling_team in bowl_teams  %}
                    
                            <option>{{bowling_team}}</option>
                    
                            {% endfor %}}
                    
                      
                    
                    
                        </select>
                    </div>

                    <label for="overs"><h2 style="color:cyan" ;> Enter the number of overs bowled till now</h2> </label>
                    <input type="text" name = 'overs' class="form-control" >

                    <label for="runs"><h2 style="color:cyan" ;> Enter runs till given overs </h2></label>
                    <input type="text" name = 'runs' class="form-control"  >

                    <label for="wickets"><h2 style="color:cyan" ;> Enter wickets fallen till given overs </h2></label>
                    <input type="text" name = 'wickets' class="form-control" >

                    <label for="runs_last_5"><h2 style="color:cyan" ;> Enter runs scored in last 5 overs</h2></label>
                    <input type="text" name = 'runs_last_5' class="form-control" >

                    <label for="wickets_last_5"><h2 style="color:cyan" ;> Enter wickets fallen in last 5 overs</h2></label>
                    <input type="text" name = 'wickets_last_5' class="form-control" >

                    
                    <button type="submit" class="btn btn-primary"> Submit </button>

                    <h1 style="color:rgb(65, 226, 119)" ;> Developed by : Malik</h1>

    </center>
</div>





{% endblock body %}